@font-face {
  font-family: ndot;
  src: url("./Ndot-55-DoenNkNm.ttf");
}

@font-face {
  font-family: link;
  src: url("./korataki-rg-3cf0d889-B6eTgmP5.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #010100;
  color: white;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 15px;
}

.logo {
  position: relative;
  width: 310px;
}

.nothing {
  position: absolute;
  top: 35px;
  left: 73px;
  font-family: ndot;
  font-size: 3.5vw;
}

.search {
  position: relative;
  width: 300px;
}

input {
  position: absolute;
  top: 6vh;
  left: 36vw;
  width: 14vw;
  height: 40px;
  background: #000000;
  border: none;
  color: #ffffffd9;
  font-size: 18px;
  outline: none;
}

input::placeholder {
  color: #ffffff81;
  opacity: 1;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
}

img {
  width: 150px;
}

.store {
  font-family: link;
  position: absolute;
  top: 14px;
  left: 37px;
  font-size: 17px;
}

.support {
  font-family: link;
  position: absolute;
  top: 14px;
  left: 215px;
  font-size: 16px;
}

.community {
  font-family: link;
  position: absolute;
  top: 13px;
  right: 22px;
  font-size: 15px;
}

main {
  position: relative;
}
.line-01 {
  position: absolute;
  background: white;
  height: 2px;
  width: 165px;
  top: 5.5vh;
  left: 18.3vw;
  transform: rotate(35deg);
}
.line-02 {
  position: absolute;
  background: white;
  height: 2.1px;
  width: 228px;
  top: 11.8vh;
  left: 28vw;
}
.line-03 {
  position: absolute;
  background: white;
  height: 2px;
  width: 121px;
  top: 16vh;
  left: 42.3vw;
  transform: rotate(31deg);
}
.line-04 {
  position: absolute;
  background: white;
  height: 2.5px;
  width: 50vw;
  top: 20.2vh;
  left: 49.5vw;
}

.line-05 {
  position: absolute;
  background: white;
  height: 2px;
  width: 220px;
  top: 19.6vh;
  left: 38.2vw;
  transform: rotate(32deg);
}

.line-06 {
  position: absolute;
  background: white;
  height: 2.2px;
  width: 79px;
  top: 27.5vh;
  left: 51.3vw;
}

.line-07 {
  position: absolute;
  background: white;
  height: 2px;
  width: 61px;
  top: 30.5vh;
  left: 55.8vw;
  transform: rotate(47deg);
}

.line-08 {
  position: absolute;
  background: white;
  height: 2.1px;
  width: 242px;
  top: 33.5vh;
  left: 59vw;
}

.line-09 {
  position: absolute;
  background: white;
  height: 2px;
  width: 72px;
  top: 29.4vh;
  left: 73.6vw;
  transform: rotate(122deg);
}

.line-10 {
  position: absolute;
  background: white;
  height: 2.1px;
  width: 22.3vw;
  top: 25.3vh;
  left: 77.1vw;
}

.line-11 {
  position: absolute;
  background: white;
  height: 2.3px;
  width: 44vw;
  top: 72.5vh;
  left: 0vw;
}

.line-12 {
  position: absolute;
  background: white;
  height: 2.5px;
  height: 2.5px;
  width: 70px;
  top: 69.7vh;
  left: 43.5vw;
  transform: rotate(143deg);
}

.line-13 {
  position: absolute;
  background: white;
  height: 2.3px;
  width: 52vw;
  top: 67vh;
  left: 47.5vw;
}

.heading {
  position: absolute;
  font-family: link;
  font-size: 46px;
  top: 35vh;
  left: 3vw;
  color: #999d9c;
  font-weight: 100;
  text-align: center;
  line-height: 10vh;
}

.para {
  position: absolute;
  font-family: ndot;
  font-size: 25px;
  top: 65vh;
  left: 5vw;
  color: #999d9c;
}

.image-01 {
  position: absolute;
  top: 10vh;
  left: 60vw;
  width: 230px;
  transform: rotate(-32deg);
}

.image-02 {
  position: absolute;
  top: 17vh;
  left: 65vw;
  width: 230px;
  transform: rotate(-32deg);
}
