@font-face {
  font-family: flutter;
  src: url("./4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvbQoi-E.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: flutter;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;

  div.title {
    width: 100%;
    background: linear-gradient(124.64deg, rgb(2, 125, 253), rgb(131, 62, 242));
    text-align: center;
    padding-block: 1.1rem;
    span {
      color: white;
      font-size: 0.95rem;
      font-weight: 600;
      i {
        font-weight: 100;
      }
    }
  }

  section.hero {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    background-color: #1a68d3;
    background-image: radial-gradient(
        ellipse at bottom,
        #1a68d3 5%,
        transparent 60%
      ),
      linear-gradient(136deg, transparent, #71c7ee 290%),
      linear-gradient(115deg, #9d9af1, transparent 40%),
      linear-gradient(180deg, transparent 0, #1a68d3 70%),
      radial-gradient(ellipse at -70% -180%, transparent 80%, #71c7ee 0),
      radial-gradient(ellipse at bottom, #1a68d3 40%, transparent 80%),
      radial-gradient(ellipse at 5% 340%, transparent 80%, #bfc2f4 0);
    overflow: hidden;

    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;
      padding-right: 2.5rem;

      .logo {
        cursor: pointer;
        img {
          width: 82%;
        }
      }

      .menu-lists {
        display: none;
      }
      .menu {
        display: block;
        i {
          color: white;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
    }

    .hero-heading {
      font-size: 3rem;
      text-align: center;
      padding-top: 5.2rem;
      color: white;
      padding-inline: 2rem;
    }

    .hero-image {
      height: 80vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .paragraph-button {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      p {
        text-align: center;
        font-size: 2.2rem;
        padding-inline: 2rem;
        color: white;
      }

      button {
        cursor: pointer;
        font-size: 1rem;
        padding: 0.7rem 2rem;
        color: #0568d6;
        font-weight: 500;
        border: none;
        background: white;
        border-radius: 30px;
      }
    }
  }

  section.view {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;

    div.view1 {
      width: 100%;
      padding-block: 2rem;
      & > p {
        text-align: center;
        font-size: 2rem;
        padding-inline: 1.5rem;
        color: black;
        margin-bottom: 2rem;
      }

      div {
        margin: auto;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border-radius: 40px;
        background-color: rgba(0, 0, 0, 0.04);
        transition: all 0.3s ease;

        p {
          padding: 0.8rem 1.8rem;
          border-radius: 40px;
          font-weight: 600;
          font-size: 0.9rem;
          color: #0468d7;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            color: black;
          }

          &:active {
            background: #0468d7;
            color: white;
          }
        }
      }
    }

    div.view2 {
      display: flex;
      flex-direction: column;
      width: 100%;

      video {
        width: 100%;
      }

      div {
        padding: 3rem;
        h1 {
          color: #14c2ad;
          font-size: 2.3rem;
          font-weight: 600;
          padding-bottom: 2rem;
        }
        p {
          text-align: start;
          font-size: 1.2rem;
          color: #4a4a4a;
          padding-bottom: 3rem;
          font-weight: 500;
        }
        button {
          cursor: pointer;
          font-size: 0.9rem;
          padding: 0.7rem 2rem;
          color: #0468d7;
          border: 1px solid #0468d7;
          font-weight: 600;
          border-radius: 30px;
          background: white;
        }
      }
    }

    div.view3 {
      display: flex;
      flex-direction: column;

      width: 100%;

      img {
        padding: 2rem;
        width: 100%;
      }

      div {
        padding: 1.8rem;
        h3 {
          color: #13b9fd;
          font-size: 1.2rem;
          padding-bottom: 1.5rem;
        }
        h1 {
          font-size: 3.1rem;
          font-weight: 600;
          line-height: 2.8rem;
          padding-bottom: 2rem;
        }
        p {
          text-align: start;
          font-size: 1.2rem;
          color: #4a4a4a;
          padding-bottom: 2rem;
          font-weight: 500;
        }
        button {
          cursor: pointer;
          font-size: 0.9rem;
          padding: 0.7rem 2rem;
          color: #0468d7;
          border: 1px solid #0468d7;
          font-weight: 600;
          border-radius: 30px;
          background: white;
        }
      }
    }

    div.view4 {
      div {
        h3 {
          color: #14c2ad;
        }
      }
    }

    div.view5 {
      div {
        h3 {
          color: #f25d50;
        }
      }
    }

    div.view6 {
      div {
        h3 {
          color: #833ef2;
        }
      }
    }

    div.view7 {
      width: 100%;
      padding: 1.8rem;
      & > div {
        background-image: linear-gradient(90deg, #ff8485, #f9eac6);
        border-radius: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div.content {
          padding: 3.5rem;
          h3 {
            font-size: 1.2rem;
            padding-bottom: 1.5rem;
          }
          h1 {
            font-size: 2.1rem;
            font-weight: 100;
            line-height: 2.5rem;
            padding-bottom: 2rem;
          }

          p {
            width: fit-content;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            border: none;
            border-radius: 30px;
            background: transparent;
            position: relative;
            i {
              position: absolute;
              right: -1.3rem;
              font-weight: 500;
              transition: transform 0.3s ease;
            }

            &:hover > i {
              transform: translateX(3px);
            }
          }
        }

        .image {
          width: 100%;
          margin-bottom: -0.25rem;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    width: 100%;

    section.hero {
      header {
        padding-inline: 3.4rem;
        .menu {
          display: none;
        }
        .menu-lists {
          display: block;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          a {
            color: white;
            text-decoration: none;
            font-size: 0.92rem;
            font-weight: 700;
            padding: 0.75rem 1.1rem;
            border-radius: 3rem;
            transition: all 0.3s ease;
            &:hover {
              background-color: hsla(0, 0%, 98%, 0.15);
            }

            &:last-child {
              background-color: #fff;
              color: #0468d7;
              padding-inline: 2.2rem;
              margin-left: 0.8rem;
            }
          }
          div {
            padding: 0.75rem 0.9rem;
            border-radius: 3rem;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background-color: hsla(0, 0%, 98%, 0.15);
            }
            i {
              font-size: 0.92rem;
              font-weight: 500;
              color: white;
            }
          }
        }
      }

      .hero-heading {
        font-size: 4rem;
      }
      .hero-image {
        width: 1515px;
        height: 114vh;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .paragraph-button {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        p {
          text-align: center;
          font-size: 2.2rem;
          padding-inline: 2rem;
          color: white;
        }
      }
    }

    section.view {
      gap: 2rem;
      div.view1 {
        width: 53%;
        margin: auto;
        div {
          justify-content: space-evenly;
          p {
            padding: 0.8rem 3.8rem;
          }
        }
      }
      div.view2 {
        flex-direction: row;
        align-items: center;
        padding: 0;
        video {
          width: 60%;
          object-fit: cover;
        }
        div {
          width: 40%;
          padding: 0;
          p {
            width: 60%;
            font-size: 1.3rem;
            line-height: 1.8rem;
            font-weight: 400;
          }
        }
      }
      div.view3 {
        flex-direction: row-reverse;
        align-items: center;
        padding-inline: 10rem;
        img {
          width: 40%;
        }
        div {
          width: 50%;
          h1 {
            line-height: 4rem;
            font-size: 3.8rem;
          }
          p {
            width: 90%;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.8rem;
          }
        }
      }
      div.view4 {
        flex-direction: row;
        gap: 10rem;
        div {
          p {
            width: 90%;
            font-size: 1.3rem;
            line-height: 1.8rem;
          }
        }
      }
      div.view5 {
        div {
          p {
            width: 85%;
            font-size: 1.3rem;
            line-height: 1.8rem;
          }
        }
      }
      div.view6 {
        flex-direction: row;
        gap: 10rem;
        div {
          p {
            width: 90%;
            font-size: 1.3rem;
            line-height: 1.8rem;
          }
        }
      }
      div.view7 {
        width: 100%;
        padding: 5rem 12rem;
        & > div {
          flex-direction: row;
          div.content {
            width: 65%;
            h1 {
              font-size: 2.4rem;
              line-height: 3rem;
            }
          }
          .image {
            width: 35%;
            position: relative;
            img {
              width: 100%;
              position: absolute;
              bottom: 0.25rem;
              right: -0.5rem;
            }
          }
        }
      }
    }
  }
}
